<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid ">
                        <img src="../cms.png" style="width: 50px;" alt=""> <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="bi bi-list"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/usersprofiles"> <button
                                            class="btn btn-outline-success">Home</button></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/profile"> <button
                                            class="btn btn-outline-success">Profile</button></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><button class="btn btn-outline-success">Welcome
                                            <%=loginemail%>
                                        </button></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/passwordchange"><button
                                            class="btn btn-outline-success">Password Change
                                        </button></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout"><button
                                            class="btn btn-outline-success">Logout</button></a>
                                </li>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>