<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
             <h3 style="text-align: center;">   @footer</h3></div>
        </div>
    </div>
</section>