/* h3{
    text-align: center;
} */
#header {
    background: linear-gradient(to right, rgb(6, 125, 210), rgb(2, 16, 98));
    padding: 20px;
    align-items: center;
    color: white;
}

#header .col-md-4 {
    float: right;
}

#mid h2 {
    text-align: center;
}

#footer {
    background: linear-gradient(to right, rgb(6, 125, 210), rgb(2, 16, 98));
    padding: 20px;
    color: white;

}